@import '../AppStyleConstants';

.menu-container {
    width: 85%;
    margin: auto;
    background: white;
    color: $base-color;
    // border-radius: $border-radius;
    // box-shadow: $box-shadow;  
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

/* the menu */
.menu-box {
  display: flex;
  flex-direction: column;
}

.menu-box .title {
  // color: #11a8ab; 
  font-size: 1.3em; 
  font-weight: bold;
	display: block;
	margin: 0;
  padding: 20px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}  

.menu-row {
  text-align: center;
  border-radius: 5px;
  margin: 2px;
}

.menu-option {
  padding: 20px;
  border: 1px solid black;
  -webkit-transition: background .5s;
	-webkit-transition: font-size .5s;  
  transition: background .5s; 
	transition: font-size .5s;     
}

.menu-option a{
	text-decoration: none;
  // color: #b34700; 
  display: block;
  color: $contrast-bg;  
}

.menu-option:hover, a:hover {
  background: $contrast-bg2;
  color: $emphasis-color2;
  font-size: 120%;
  font-weight: bold;
}



