 // @import url('https://fonts.googleapis.com/css?family=Rubik:300');
$font: 'Rubik';

.menu-container {
    width: 20%;
    margin: auto;
}

/* the menu */
.menu-box {
  display: flex;
  flex-direction: column;
  background: #ff944d;
}

.menu-box .title {
  background: #11a8ab;
  color: white;
  font-size: 1.1em; /* 17px; */
	display: block;
	margin: 0;
  padding: 20px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}  

.menu-row {
  text-align: center;
  border-radius: 5px;
}

.menu-option {
  padding: 20px;
	border-bottom: 1px solid #b34700;
	-webkit-transition: background .5s;
	transition: background .5s;  
}

.menu-option a {
	text-decoration: none;
	font-size: 15px;
  color: #fff;
  display: block;
}

.menu-option:hover {
  background: #ff6600;
	border-top: 1px solid #b34700;
}



