$base-color: #fff; //#272c34;
$emphasis-color: #61dafb;
$contrast-bg: #272c34; // #f0f2f4
$contrast-bg2: #505763;
$emphasis-color2: #abedff;

$border-radius: 0.25rem;
$box-shadow: 0 0.5rem 1rem rgba(#31363e, 0.15);

$header-height: 5em;
